body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    font-family: Helvetica, sans-serif;
}

.navbar-dark{
    background-color: #07404e;
}

.jumbotron {
    padding: 150px 30px 150px 30px;
    margin: 0px auto;
    background-color: #096177;
    color: floralwhite;
    border-radius: 0px 0px 100px 100px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.register-header {
    padding: 50px 0px 0px 0px;
    margin: 0px auto;
    background-color: #096177;
}
.ol {
    background-color: #096177;
}
a {
    color: white;
    background-color: transparent;
    text-decoration-line: none;
}

a:hover {
    color: rgb(153, 153, 130);
    text-decoration: none;
}

.row-programs {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    min-height: 400px;
}
.row-register-footer {
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px ridge;
}

.footer {
    background-color: #064757;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: floralwhite;
    
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
   
}
.footer-content {
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.copy-right {
    padding: 20px 0px 5px 0px;
    border-top: 1px ridge;
}
