body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    font-family: "Open Sans", sans-serif;
}

.btn-register {

    color: rgb(232, 230, 227);
    border-color: rgb(46, 94, 119);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    line-height: 1;
    margin: 10px;
    border: 2px solid #68A4C4;

}
.btn-register:hover{
    background-color: #68A4C4;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 244px) {  
    .responsive-text>h2{
        font-size:25px; /*1rem = 16px*/
    }
    .responsive-text>p {
        font-size: 15px;
        z-index: 10;
    }
    
}
@media (min-width: 544px) {  
    .responsive-text>h2{
        font-size:35px; /*1rem = 16px*/
        margin-bottom: 30px;
    }    
}


.navbar-dark{
    background-color: #07404e;
}

.jumbotron {
    background: linear-gradient(to right, rgba(6, 58, 78, 0.7), 
              rgba(9, 74, 90, 0.7)),
             url('../img/bdr.png') no-repeat fixed;
    background-size: cover;
    margin: 0px auto;
    color: floralwhite;
    border-radius: 0px 0px 100px 100px;
   
    overflow: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu> :hover {
    background-color: #096177;
}

.register-header {
    padding: 50px 0px 0px 0px;
    margin: 0px auto;
    background-color: #096177;
}
.ol {
    background-color: #096177;
}
a {
    color: white;
    background-color: transparent;
    text-decoration-line: none;
}

a:hover {
    color: rgb(153, 153, 130);
    text-decoration: none;
}

.row-programs {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    min-height: 400px;
}
.row-register-footer {
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px ridge;
}

.footer {
    background-color: #064757;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: floralwhite;
    
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
   
}
.footer-content {
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.copy-right {
    padding: 20px 0px 5px 0px;
    border-top: 1px ridge;
}

.multi-form-tab {
    display: none;
}


.carousel-item {
    height: 350px;
    position: relative;
    
}

.carousel-center-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 22px;

}